@media (max-width: 1650px) {
  .top-slider {

    .slick-prev,
    .slick-next {
      top: 35%;
    }

    &__title {
      font-size: 46px;
      max-width: 500px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 1560px) {
  .top-slider {
    .slick-prev {
      left: 8%;
    }

    .slick-next {
      right: 10%;
    }
  }
}

@media (max-width: 1400px) {
  .top-slider {

    .slick-prev {
      left: 4%;
    }

    .slick-next {
      right: 6%;
    }
  }
}

@media (max-width: 1270px) {
  .top-slider {
    &__content {
      padding-left: 90px;
    }

    &__item {
      background-position: center;
    }

    &__title {
      font-size: 36px;
      max-width: 450px;
    }

    .slick-prev {
      left: 2%;
    }

    .slick-next {
      right: 4%;
    }

    .slick-prev,
    .slick-next {
      top: 35%;
    }
  }

  .header-nav {
    &__list {
      font-size: 16px;
      justify-content: space-evenly;
    }

    &__item {
      padding: 10px 10px;
      font-size: 16px;

      &:nth-child(4) {
        &::after {
          width: 0;
        }
      }

      &--sale {
        padding-left: 25px;

        &::before {
          left: 7px;
          top: 17px;
        }
      }

      &::after {
        top: 15px;
      }
    }

    &__link {
      padding: 0px 10px;
    }
  }

  .showroom {
    &__items {
      justify-content: space-evenly;
    }

    &__img {
      max-width: 300px;
    }
  }

  .catalog {
    &__filter {
      max-width: 225px;
    }

    &__items {
      grid-gap: 20px 20px;
    }
  }

  .filter-color label {
    margin-right: 20px;
  }

  .styles__item {
    margin-right: 10px;
  }

  .products {
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 25px;
    }

    &__item {
      &:nth-child(n) {
        margin: 0 auto;
      }
    }
  }

  .product-one {
    &__info {
      margin-left: 30px;
      width: 553px;
    }

    &__description {
      margin-bottom: 0;
    }
  }

  .product-slide {
    width: auto;
    margin-right: 0;

    &__big {
      margin: 0 auto;
    }

    &__thumb {
      display: none;
    }

    &__video {
      display: none;
    }
  }

  .analog,
  .accompanying {
    text-align: center;
    padding: 40px 0;

    &__title {
      display: flex;
      justify-content: center;
    }
  }
}

@media (max-width: 1050px) {
  .product-one {
    &__inner {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }

    &__info {
      margin: 70px auto;
    }
  }

  .product-slide {
    .slick-list {
      max-height: 749px;
    }

    .slick-dots {
      display: flex;
      justify-content: center;

      li {
        padding: 0 5px;
        margin-right: 25px;

        &:last-child {
          margin-right: 0;
        }

        button {
          width: 113px;
          height: 7px;
          border-radius: 4px;
          font-size: 0;
          background-color: #BDC8ED;
          border: none;
          margin-top: 16px;
          outline: transparent;

          &:hover {
            background-color: #849AEF;
          }

          &:focus {
            background-color: $blue;
          }
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  .individual {
    &__work-item::before {
      right: -86px;
    }
  }
}

@media (max-width: 992px) {
  .header {
    padding-top: 0;
  }

  .top-slider {
    &__content {
      padding: 40px 20px 40px 100px;
    }

    &__title {
      font-size: 30px;
      max-width: 390px;
    }

    &__text {
      max-width: 500px;
    }

    .slick-dots {
      li {
        button {
          margin-bottom: 40px;
        }
      }
    }

    .slick-prev {
      left: 30px;
    }

    .slick-next {
      right: 30px;
    }
  }

  .header-top {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .tabs {
    display: block;
  }

  .advantages {
    padding: 40px 0;

    &__items {
      flex-direction: column;
    }

    &__item {
      margin-bottom: 50px;
    }
  }

  .title {
    font-size: 24px;
  }

  .styles,
  .showroom {
    display: none;
  }

  .baner {
    background-image: url('../images/mobile-baner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 40px;
    height: 475px;
    padding: 40px 20px;

    &__title {
      font-family: 'NotoSerif-Regular';
      font-weight: 400;
      font-size: 22px;
      letter-spacing: 0.18em;
      line-height: 26px;
      margin-bottom: 35px;
      padding-top: 0;

    }

    &__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 50px;
    }

    &__link {
      max-width: 280px;
      margin: 0 auto;

    }
  }

  .about {
    &__inner {
      flex-direction: column;
    }

    &__text {
      order: 1;
    }

    &__img {
      margin-bottom: 30px;
    }
  }

  .header-nav {
    &__list {
      display: none;
    }
  }

  .map {
    display: none;
  }

  .map-mobile {
    display: block;

    &__inner {
      margin: 0 auto;
      text-align: center;
      padding: 20px;
      width: 100%;
      box-shadow: 4px 0px 24px rgba(0, 0, 0, 0.1);
    }

    iframe {
      margin-top: 25px;
      max-width: 100%;
    }
  }

  .contacts__info-link {
    display: inline-block;

    &--footer {
      max-width: 190px;
      text-align: center;
      margin: 0 auto;
      display: block;
      margin-bottom: 30px;
    }
  }

  .footer {
    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      margin-right: 0;
      text-align: center;

      &--desctop {
        display: none;
      }
    }
  }

  .accordion-item {
    display: block;
  }

  .catalog {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .filter-item {
    padding: 10px 10px;
  }

  .breadcrumbs {
    &__title {
      font-size: 40px;
    }
  }

  .individual {
    &__info {
      flex-direction: column;
      margin-bottom: 50px;
    }

    &__info-text {
      margin-right: 0;
    }

    &__info-subtitle {
      margin-bottom: 30px;
      font-size: 14px;
      line-height: 26px;
    }

    &__info-title {
      font-size: 16px;
      margin-bottom: 25px;
    }

    &__work {
      padding: 40px 0;
    }

    &__work-items {
      flex-direction: column;
    }

    &__work-item {
      &:nth-child(odd) {
        align-items: flex-start;
        margin-left: 60px;

        h6 {
          text-align: left;
        }
      }

      &:nth-child(even) {
        align-items: flex-end;
        margin-top: -60px;
        margin-right: 60px;

        h6 {
          text-align: right;
        }
      }
    }

    &__work-item::before {
      width: 260px;
      background-repeat: no-repeat;
      background-size: cover;
      height: 30px;
    }

    &__work-item--one::before {
      top: 53px;
      left: 100px;
      transform: rotate(15deg);
    }

    &__work-item--two::before {
      top: 80px;
      right: 110px;
      transform: rotate(155deg);
    }

    &__work-item--three::before {
      top: 47px;
      left: 91px;
      transform: rotate(15deg);
    }

    &__boxes {
      flex-direction: column;
    }
  }

  .aplication {
    background: #EEF2FF;
    height: 100%;
    padding: 40px 0;

    &__title {
      padding-top: 0;
      font-size: 18px;
    }

    &__form-box {
      max-width: 100%;
      text-align: center;
    }

    &__form-title {
      margin-bottom: 10px;
    }

    &__input-box {
      flex-direction: column;
    }

    &__input,
    &__textarea {
      width: 100%;
      margin-bottom: 10px;
      margin-right: 0;
    }

    &__btn {
      margin: 0 auto;
      margin-bottom: 10px;
    }

    &__file-name {
      display: inline-block;
    }

    &__file-name::before {
      left: -30px;
    }

    &__text {
      font-size: 14px;
    }
  }

  .delivery {
    &__item {
      flex-direction: column;
      padding: 10px;
    }

    &__text {
      margin-bottom: 20px;
      margin-right: 0;
    }

    &__img {
      margin-bottom: 20px;
    }

    &__title {
      font-size: 24px;
    }
  }

  .contacts {

    &__item,
    &__item-form {
      padding: 20px;
      flex-direction: column;
      margin-bottom: 40px;
    }

    &__info {
      margin-bottom: 20px;
      margin-right: 0;
    }

    .aplication__form {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .top-slider {

    .slick-prev,
    .slick-next {
      top: 28%;
      width: 32px;
      height: 32px;
    }

    &__text {
      display: none;
    }
  }

  .catalog {
    &__top-title {
      display: none;
    }

    &__filter {
      display: none;
    }

    &__filter-mobile {
      display: block;
    }

    &__inner {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .contacts {
    &__map {
      iframe {
        width: 500px;
      }
    }
  }
}

@media (max-width: 600px) {
  .product-one {
    &__info {
      width: 300px;
      margin: 40px auto;
      padding: 20px 20px;

      .filter-color label {
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__item-img {
      width: 55px;
      height: 55px;
    }
  }

  .product-slide {
    .slick-list {
      height: 395px;
    }

    &__big {
      width: 300px;
      height: 395px;

      img {
        width: 300px;
        height: 395px;
      }
    }

    .slick-prev,
    .slick-next {
      width: 30px;
      height: 30px;
    }

    .slick-prev {
      left: 7px;
    }

    .slick-next {
      right: 7px;
    }

    .slick-dots {
      li {
        padding: 0 5px;
        margin-right: 7px;

        button {
          width: 63px;
          height: 4px;

        }
      }
    }
  }
}

@media (max-width: 565px) {
  .top-slider {
    .slick-prev {
      left: 10px;
    }

    .slick-next {
      right: 10px;
    }

    &__content {
      padding: 40px 10px 40px 40px;
    }

    &__title {
      font-size: 18px;
      max-width: 240px;
    }

    &__link {
      font-size: 12px;
      padding: 12px 18px;
    }
  }

  .products {
    padding: 50px 0;

    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .catalog {
    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .pagination {
    &__link {
      padding: 4px 10px;
    }

    &__link-prev,
    &__link-next {
      display: none;
    }
  }

  .baner {
    padding: 10px 10px;
  }

  .individual {
    &__work-item {
      h6 {
        font-size: 14px;
        max-width: 160px;
      }

      &:nth-child(odd) {
        align-items: flex-start;
        margin-left: 0;

        h6 {
          text-align: left;
        }
      }

      &:nth-child(even) {
        align-items: flex-end;
        margin-top: -60px;
        margin-right: 0;

        h6 {
          text-align: right;
        }
      }
    }

    &__boxes {
      padding: 20px;
    }

    &__box-conditions {
      font-size: 14px;
      margin-bottom: 0;

      &::before {
        width: 6px;
        height: 6px;
        top: 7px;
        left: -14px;
      }
    }

    &__box {
      margin-bottom: 15px;

      span {
        font-size: 16px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      h6 {
        font-size: 14px;
      }

    }
  }

  .analog-mobile,
  .accompanying-mobile {
    width: 265px;
    margin: 0 auto;

    .products__item {
      width: 265px !important;
    }

    &__title {
      font-size: 16px;
    }

    .slick-slider {
      position: relative;
    }

    .slick-arrow {
      border: none;
      font-size: 0;
      position: absolute;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      z-index: 999;
      opacity: 0.8;
      top: 40%;
    }

    .slick-next {
      background-image: url('../images/icons/mobile-right.svg');
      right: -18px;
    }

    .slick-prev {
      background-image: url('../images/icons/mobile-left.svg');
      left: -20px;
    }
  }

  .contacts {

    &__info-link,
    &__info-text {
      margin-bottom: 20px;
    }

    &__map {
      iframe {
        width: 280px;
        height: 180px;
      }
    }
  }
}

@media (max-width: 480px) {
  .top-slider {
    &__item {
      background-position: 65%;
    }
  }

  .header-mobile {
    justify-content: space-around;

    &__item-box {
      width: 30px;
      height: 30px;
    }

    &__title {
      font-size: 10px;

      &--logo {
        font-size: 11px;
      }
    }


    &__link,
    &__btn {
      padding: 0;
    }
  }

  .baner {
    &__title {
      max-width: 160px;
    }
  }

  .tabs {
    max-width: 300px;

    &__triggers-item {
      max-width: 100px;
    }

    &__content {
      margin: 0 auto;

      width: 100%;
    }

    &__nav-link {
      flex-basis: 50%;
    }
  }

  .breadcrumbs {
    display: none;
  }

  .breadcrumbs-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .aplication {
    &__btn {
      width: 100%;
    }
  }

  .individual {

    &__info-img {
      width: 180px;
      height: 180px;
    }

    &__work-item::before {
      width: 172px;
      background-repeat: no-repeat;
      background-size: cover;
      height: 20px;
    }

    &__work-item--one::before {
      top: 45px;
      left: 68px;
      transform: rotate(15deg);
    }

    &__work-item--two::before {
      top: 77px;
      right: 67px;
      transform: rotate(144deg);
    }

    &__work-item--three::before {
      top: 44px;
      left: 70px;
      transform: rotate(15deg);
    }
  }

  .delivery {
    &__img {
      width: 180px;
      height: 180px;
    }

    &__title {
      font-size: 24px;
    }
  }
}