@media (max-width: 1650px) {
  .top-slider {

    .slick-prev {
      left: 14%;
    }

    .slick-prev,
    .slick-next {
      top: 30%;
    }

    &__title {
      font-size: 46px;
    }

    &__text {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 1400px) {
  .top-slider {

    .slick-prev {
      left: 12%;
    }

    .slick-next {
      right: 15%;
    }

    .slick-prev,
    .slick-next {
      top: 25%;
    }

    .slick-dots {
      li {
        button {

          margin-bottom: 30px;
        }
      }
    }

    &__title {
      padding-top: 50px;
    }
  }
}

@media (max-width: 1200px) {
  .top-slider {
    .slick-prev {
      left: 2%;
    }

    .slick-next {
      right: 12%;
    }

    .slick-prev,
    .slick-next {
      top: 35%;
    }
  }


  .header-nav {
    &__list {
      font-size: 16px;
      justify-content: space-evenly;
    }

    &__item {
      padding: 10px 10px;
      font-size: 16px;

      &:nth-child(4) {
        &::after {
          width: 0;
        }
      }

      &--sale {
        padding-left: 25px;

        &::before {
          left: 7px;
          top: 17px;
        }
      }

      &::after {
        top: 15px;
      }
    }

    &__link {
      padding: 0px 10px;
    }
  }

  .catalog {
    &__filter {
      max-width: 225px;
    }

    &__items {
      grid-gap: 20px 20px;
    }
  }

  .product-one {
    &__info {
      padding: 20px 20px;
      width: 370px;
    }

    &__slide {
      width: 600px;
    }
  }

  .filter-color label {
    margin-right: 20px;
  }

  .product-slide {

    .slick-vertical .slick-slide {

      margin-bottom: 20px;
    }

    &__big {
      width: 500px;

      .slick-slide {
        max-height: 675px;
      }

      img {
        width: 500px;
      }
    }

    &__video {
      bottom: 190px;
    }
  }
}

@media (max-width: 992px) {
  .header {
    padding-top: 0;
  }

  .top-slider {

    .slick-prev {
      left: 30px;
    }

    .slick-next {
      right: 30px;
    }
  }

  .header-top {
    display: none;
  }

  .header-mobile {
    display: block;
  }

  .tabs {
    display: block;
  }

  .products {
    margin-bottom: 0px;

    &__items {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      margin-bottom: 40px;
      margin-right: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .advantages {
    padding: 40px 0;

    &__items {
      flex-direction: column;
    }

    &__item {
      margin-bottom: 50px;
    }
  }

  .title {
    font-size: 24px;
  }

  .styles,
  .showroom {
    display: none;
  }

  .baner {
    background-image: url('../images/mobile-baner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 40px;
    height: 475px;
    padding: 40px 20px;

    &__title {
      font-family: 'NotoSerif-Regular';
      font-weight: 400;
      font-size: 22px;
      letter-spacing: 0.18em;
      line-height: 26px;
      margin-bottom: 35px;
      padding-top: 0;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 50px;
    }

    &__link {
      max-width: 280px;
      margin: 0 auto;

    }
  }

  .about {
    &__inner {
      flex-direction: column;
    }

    &__text {
      order: 1;
    }

    &__img {
      margin-bottom: 30px;
    }
  }

  .header-nav {
    &__list {
      display: none;
    }
  }

  .map {
    display: none;
  }

  .map-mobile {
    display: block;

    &__inner {
      margin: 0 auto;
      text-align: center;
      padding: 20px;
      width: 100%;
      box-shadow: 4px 0px 24px rgba(0, 0, 0, 0.1);
    }

    iframe {
      margin-top: 25px;
      max-width: 100%;
    }
  }

  .contacts__info-link {
    display: inline-block;

    &--footer {
      max-width: 190px;
      text-align: center;
      margin: 0 auto;
      display: block;
      margin-bottom: 30px;
    }
  }

  .footer {
    &__inner {
      flex-direction: column;
      align-items: center;
    }

    &__item {
      margin-right: 0;
      text-align: center;

      &--desctop {
        display: none;
      }
    }
  }

  .accordion-item {
    display: block;
  }

  .catalog {
    &__items {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .filter-item {
    padding: 10px 10px;
  }

  .product-one {
    &__inner {
      flex-direction: column;
    }

    &__info {
      margin: 0 auto;
      width: 500px;
    }

  }

  .product-slide {
    margin: 0 auto;
    margin-bottom: 40px;
    width: 500px;

    &__slide {
      width: 100%;
    }

    &__video {
      display: none;
    }

    &__big {
      margin-right: 0;
    }

    &__thumb {
      display: none;
    }

    .slick-list {
      height: 700px;
    }

    .slick-dots {
      display: flex;
      justify-content: center;

      li {
        margin-right: 7px;
        line-height: 0;
        width: 65px;
        height: 5px;
        background-color: #BDC8ED;
        border-radius: 4px;

        &:last-child {
          margin-right: 0;
        }

        button {
          display: none;
        }

        &.slick-active {
          background: $blue;
        }
      }
    }
  }

  .accompanying-mobile,
  .analog-mobile {
    display: block;
    position: relative;
    margin: 0 auto;
  }

  .analog,
  .accompanying {
    text-align: center;
    padding: 40px 0;


    &__title {
      display: flex;
      justify-content: center;
      font-size: 16px;
    }

    .slick-slider {
      max-width: 400px;
      position: relative;
    }

    .slick-arrow {
      border: none;
      font-size: 0;
      position: absolute;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      z-index: 999;
      opacity: 0.8;
      top: 42%;
    }

    .slick-next {
      background-image: url('../images/icons/mobile-right.svg');
      right: 48px;
    }

    .slick-prev {
      background-image: url('../images/icons/mobile-left.svg');
      left: 48px;
    }
  }
}

@media (max-width: 768px) {
  .catalog {
    &__top-title {
      display: none;
    }

    &__filter {
      display: none;
    }

    &__filter-mobile {
      display: block;
    }

    &__inner {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }
}

@media (max-width: 565px) {
  .catalog {
    &__items {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .pagination {

    &__link-prev,
    &__link-next {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .top-slider__inner {
    display: none;
  }

  .header-mobile {
    justify-content: space-around;

    &__item-box {
      width: 30px;
      height: 30px;
    }

    &__title {
      font-size: 10px;

      &--logo {
        font-size: 11px;
      }
    }


    &__link,
    &__btn {
      padding: 0;
    }
  }

  .mobile-slider {
    display: block;

  }

  .baner {
    &__title {
      max-width: 160px;
    }
  }

  .tabs {
    max-width: 300px;

    &__triggers-item {
      max-width: 100px;
    }

    &__content {
      margin: 0 auto;

      width: 100%;
    }

    &__nav-link {
      flex-basis: 50%;
    }
  }

  .breadcrumbs {
    display: none;
  }

  .breadcrumbs-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .filter-color label {
    margin-right: 25px;
  }

  .product-one {
    &__info {
      width: 100%;
    }
  }

  .analog,
  .accompanying {
    .slick-next {
      right: 22px;
    }

    .slick-prev {
      left: 22px;
    }
  }

  .product-slide {
    width: 300px;

    &__big-item {
      margin-right: 0;
      width: 315px !important;
      height: 415px;
      object-fit: contain;
    }

    .slick-list {
      height: 450px;
    }

    &__big {
      width: 315px;
    }
  }
}