%noto-700 {
  font-family: 'NotoSerif-Bold';
  font-weight: 700;
}

%notosc-700 {
  font-family: 'NotoSerifSC-Bold';
  font-weight: 700;
}

%notosc-400 {
  font-family: 'NotoSerifSC-Bold';
  font-weight: 400;
}

%noto-400 {
  font-family: 'NotoSerif-Regular';
  font-weight: 400;
}

%proxima-700 {
  font-family: 'ProximaNova-Bold';
  font-weight: 700;
}

%proxima-600 {
  font-family: 'ProximaNova-Semibold';
  font-weight: 600;
}

%proxima-400 {
  font-family: 'ProximaNova-Regular';
  font-weight: 400;
}

%proxima-300 {
  font-family: 'ProximaNova-Light';
  font-weight: 300;
}

%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}


$blue: #273159;
$light: #EEF2FF;